default_shell "fish"

scrollback_editor "/opt/homebrew/bin/hx"

theme "default"

pane_frames false

ui {
    pane_frames {
        hide_session_name true
        rounded_corners true
    }
}

themes { 
    default {
        fg "#ebebf5"
        bg "#000000"
        black "#1e1e28"
        red "#ff8795"
        green "#a8f5ba"
        yellow "#ffc97d"
        blue "#9bcaff"
        magenta "#ff9be3"
        cyan "#69fff6"
        white "#e5e1f5"
        orange "#ffc97d"
    }
}

keybinds {
    shared_except "locked" {
        unbind "Ctrl q"
        unbind "Alt ["
        unbind "Alt ]"
        // bind "Ctrl w" {
        //     LaunchPlugin "filepicker" {
        //         floating true
        //         close_on_selection true
        //     };
        // }
    }

    session {
        unbind "Ctrl s"
        bind "Ctrl f" {SwitchToMode "Scroll";}
    }

    tmux {
        unbind "\""
        unbind "%"
        bind "Ctrl q" { Write 2; SwitchToMode "Normal"; }
        bind "s" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "v" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "H" { Resize "Increase Left"; }
        bind "J" { Resize "Increase Down"; }
        bind "K" { Resize "Increase Up"; }
        bind "L" { Resize "Increase Right"; }
        bind "," { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "1" { GoToTab 1; SwitchToMode "Normal"; }
        bind "2" { GoToTab 2; SwitchToMode "Normal"; }
        bind "3" { GoToTab 3; SwitchToMode "Normal"; }
        bind "4" { GoToTab 4; SwitchToMode "Normal"; }
        bind "5" { GoToTab 5; SwitchToMode "Normal"; }
        bind "6" { GoToTab 6; SwitchToMode "Normal"; }
        bind "7" { GoToTab 7; SwitchToMode "Normal"; }
        bind "8" { GoToTab 8; SwitchToMode "Normal"; }
        bind "9" { GoToTab 9; SwitchToMode "Normal"; }
    }

    shared_among "scroll" "search" {
        unbind "Ctrl s"
        bind "Ctrl f" {SwitchToMode "Normal";}
    }

    shared_except "scroll" "locked" {
        unbind "Ctrl s"
        bind "Ctrl f" {SwitchToMode "Scroll";}
    }

    shared_except "tmux" "locked" {
        bind "Ctrl q" { SwitchToMode "Tmux"; }
    }
}
