theme "default"

scrollback_editor "/opt/homebrew/bin/hx"

ui {
    pane_frames {
        hide_session_name true
    }
}

themes { 
    default {
        fg "#ebebf5"
        bg "#000000"
        black "#1e1e28"
        red "#ff8795"
        green "#a8f5ba"
        yellow "#ffc97d"
        blue "#9bcaff"
        magenta "#ff9be3"
        cyan "#69fff6"
        white "#e5e1f5"
        orange "#ffc97d"
    }
}

keybinds {
    shared_except "locked" {
        bind "Ctrl e" {Quit;}
    }

    pane {
        unbind "Ctrl p"
        bind "Ctrl q" {SwitchToMode "Normal";}
        bind "h" "Left" {MoveFocus "Left"; SwitchToMode "Normal";}
        bind "l" "Right" {MoveFocus "Right"; SwitchToMode "Normal";}
        bind "j" "Down" {MoveFocus "Down"; SwitchToMode "Normal";}
        bind "k" "Up" {MoveFocus "Up"; SwitchToMode "Normal";}
        bind "s" {NewPane "Down"; SwitchToMode "Normal";}
        bind "v" {NewPane "Right"; SwitchToMode "Normal";}
    }

    session {
        unbind "Ctrl s"
        bind "Ctrl f" {SwitchToMode "Scroll";}
    }

    shared_among "scroll" "search" {
        unbind "Ctrl s"
        bind "Ctrl f" {SwitchToMode "Normal";}
    }

    shared_except "pane" "locked" {
        unbind "Ctrl p"
        bind "Ctrl q" {SwitchToMode "Pane";}
    }

    shared_except "scroll" "locked" {
        unbind "Ctrl s"
        bind "Ctrl f" {SwitchToMode "Scroll";}
    }
}
